
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #fdfdfd;
  color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  padding: 20px 40px;
  border-bottom: 2px solid #ddd;
}

.header-left {
  flex: 1;
}
.profile-pic {
  width: 120px;
  object-fit: cover;
}
.header-right {
  flex: 3;
}
.header-right h1 {
  margin: 0;
  font-size: 40px;
  color: #ffffff;
}
.header-right p {
  margin: 4px 0;
  font-size: 18px;
  color: #b3b3b3;
}
.contact p {
  margin: 2px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  padding: 40px;
}

.sidebar {
  background: #b3b3b3;
  padding: 20px;
}
.sidebar h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  margin-bottom: 8px;
}

.main-content h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 4px;
  margin-top: 20px;
}
.flex-item {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #000000;
  font-size: 14px;
  color: #b3b3b3;
  margin-top: auto;
}
